<form [formGroup]="form" (ngSubmit)="changePassword(form)">
  <div style="display: flex; justify-content: center">
    <mat-card style="max-width: 400px; margin: 5px;">
      <mat-card-header>
        <mat-card-title>Change password</mat-card-title>
        <mat-card-subtitle>Please enter new and old password</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field>
            <input matInput formControlName="new_password" placeholder="New password">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput formControlName="old_password" placeholder="Old password">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions style="margin-left: 0px; margin-right: 0px;">
        <div>
          <button mat-raised-button type="submit">Submit</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</form>


