<mat-card>
  <mat-card-header>
    <mat-card-title>Adding reservation</mat-card-title>
    <mat-card-subtitle>Please check reservation information</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <p> Error occurs: {{errorMsg}}</p>
      <p> Status: {{errorStatus}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions style="margin-left: 0px; margin-right: 0px;">
    <div>
      <button mat-flat-button (click)="close()">Close</button>
    </div>
  </mat-card-actions>
</mat-card>




